<!DOCTYPE html>
<html lang="en">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/prod.css">
    <link rel="stylesheet" href="/css/navigation.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <title>{{cono.Nombre}} | Ice Cream Nation</title>

    
    <link rel="shortcut icon" href="/imgs/favicon.png" type="image/png" sizes="16x16">

</head>

<body>
    <header>
    <div class="hamburguer">
            <img src="/imgs/icons/open.png" id="openH" width="30px" height="30px" alt="Open">
            <img src="/imgs/icons/close.png" id="closeH" width="30px" height="30px" alt="close">

        </div>
        <div class="nav" id="navegador">
            <ul>
                <img src="/imgs/favicon.png" width="80px" alt="">
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/#chartstics">Características</a>
                </li>
                <li>
                    <a href="/tu_helado">¿Qué helado eres?</a>
                </li>
                <li>
                    <a href="/tienda">Tienda</a>
                </li>
                <li>
                    <a href="/#subsnewsltr">Suscríbete</a>
                </li>
            </ul>
        </div>

        <div class="appContent">
    <h1 class="producto">Productos</h1>

    <h1 class="nombre">{{cono.Nombre}}</h1>
    <img class="imagen" src="{{cono.imagen}}" alt="">
    <div class="caracteristicas">
        <p>
            <b>precio:</b>&nbsp;${{cono.precio}}</p>
        <p>
            <b>topping:</b>&nbsp;{{cono.topping}}</p>
        <p>
            <b>sabor:</b>&nbsp;{{cono.sabor}}</p>
        <p>
            <b>peso:</b>&nbsp;{{cono.peso}}</p>



    </div>
        </div>
    </header>
    



    <script src="/js/anime.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>